{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tahoma", serif;
}

body {
    background-color: #000;
}
.nadpis-special {
    letter-spacing: 4px;
    font-family: "Francois One", sans-serif;
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin: 80px auto 85px auto;
}
.uvodninadpis{
    margin: 55px auto 0 auto;
}
.nadpis-special::after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background-color: #fff;
    margin: 10px auto;
}
