{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tahoma", serif;
}

body {
    background-color: #000;
}
.nadpis-special {
    letter-spacing: 4px;
    font-family: "Francois One", sans-serif;
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin: 80px auto 85px auto;
}
.uvodninadpis{
    margin: 120px auto 0 auto;
}
.nadpis-special::after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background-color: #fff;
    margin: 10px auto;
}
.navbar {
    z-index: 10000;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.navbar ul {
    color: white;
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.navbar li {
    font-weight: bold;
    font-size: 20px;
    background-color: #ffffff;
    border: 7px solid rgba(2, 11, 255, 0.82);
    border-radius: 22px;
    padding: 4px 0;
    width: 189px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li:hover {
    transition: background-color 1s ease, border 1s linear;
    background-color: rgba(0, 49, 255, 0.82);
    border: 7px solid rgba(251, 251, 251, 0.82);
}
.navbar li a {
    display: flex;/*necotamnapis*/

    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgba(0, 10, 255, 0.82);
}
.navbar li a:hover {
    color: white;
}
